{% extends 'base.html.twig' %}

{% block body %}
    <div id="app" class="app-layout"
         data-controller="menu"
         data-menu-open-class="menu-open">
        <header class="app-header">
            <div class="header-content">
                <button class="icon-btn menu-toggle-btn"
                        data-action="click->menu#toggle">
                    <i class="mdi mdi-menu"></i>
                </button>
                <div class="toolbar-title">Webtrader</div>
                <div class="spacer"></div>
                <button class="icon-btn login-btn icon-on"
                        data-controller="login-icon"
                        data-login-icon-target="button"
                        data-action="click->login-icon#toggle">
                    {{ ux_icon('quill:off') }}
                </button>
            </div>
        </header>

        <nav class="navigation-drawer">
            <div class="drawer-header">Menu</div>
            <ul class="list-compact">
                <li class="list-item">
                    <a href="/" class="list-link active">
                        <i class="mdi mdi-home list-icon icon-green"></i>
                        <span class="list-item-title">Portefeuille</span>
                    </a>
                </li>
                <li class="list-item">
                    <a href="/settings" class="list-link">
                        <i class="mdi mdi-cog list-icon icon-green"></i>
                        <span class="list-item-title">Paramètres</span>
                    </a>
                </li>
                <li class="list-item">
                    <a href="/stocks" class="list-link">
                        <i class="mdi mdi-finance list-icon icon-green"></i>
                        <span class="list-item-title">Stocks</span>
                    </a>
                </li>
            </ul>
        </nav>

        <main class="app-main" data-action="click->menu#close">
            <div class="dashboard-container">
                <div class="notification-area">
                    <div class="notification danger" style="background-color: #D84315;">
                        <span class="notification-text">Erreur de connexion aux données.</span>
                        <button class="close-btn">×</button>
                    </div>
                </div>

                <div class="main-content-row d-flex">

                    <div class="col-left">

                        <div class="row-header d-flex align-start">
                            <twig:MarketCard
                                title="Cac"
                                :value="7500.55"
                                subtitle="+0.85 %"
                                trend="up"
                            />
                            <twig:MarketCard
                                title="Last High"
                                :value="7450"
                                subtitle="29/11/24"
                            />
                            <twig:MarketCard
                                title="Buy Limit"
                                :value="7400"
                                subtitle="-1.34 %"
                                trend="down"
                            />
                        </div>

                        <div class="row-table">
                            <div class="col-table">
                                <div class="data-table-container elevation-5">
                                    <table class="data-table">
                                        <thead>
                                        <tr>
                                            <th colspan="5" class="table-header-group">Cotations du CAC</th>
                                            <th colspan="1" class="table-header-group">LVC</th>
                                        </tr>
                                        <tr>
                                            <th>Date</th>
                                            <th class="align-right">Clôture</th>
                                            <th class="align-right">Ouverture</th>
                                            <th class="align-right">Plus haut</th>
                                            <th class="align-right">Plus bas</th>
                                            <th class="align-right">Clôture</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>29/11/24</td>
                                            <td class="align-right">7500.55</td>
                                            <td class="align-right">7480.10</td>
                                            <td class="align-right">7510.90</td>
                                            <td class="align-right">7470.00</td>
                                            <td class="align-right">12.50</td>
                                        </tr>
                                        <tr class="hover-effect">
                                            <td>28/11/24</td>
                                            <td class="align-right">7437.20</td>
                                            <td class="align-right">7450.00</td>
                                            <td class="align-right">7480.00</td>
                                            <td class="align-right">7400.00</td>
                                            <td class="align-right">11.90</td>
                                        </tr>
                                        <tr class="hover-effect">
                                            <td>28/11/24</td>
                                            <td class="align-right">7437.20</td>
                                            <td class="align-right">7450.00</td>
                                            <td class="align-right">7480.00</td>
                                            <td class="align-right">7400.00</td>
                                            <td class="align-right">11.90</td>
                                        </tr>
                                        <tr class="hover-effect">
                                            <td>28/11/24</td>
                                            <td class="align-right">7437.20</td>
                                            <td class="align-right">7450.00</td>
                                            <td class="align-right">7480.00</td>
                                            <td class="align-right">7400.00</td>
                                            <td class="align-right">11.90</td>
                                        </tr>
                                        <tr class="hover-effect">
                                            <td>28/11/24</td>
                                            <td class="align-right">7437.20</td>
                                            <td class="align-right">7450.00</td>
                                            <td class="align-right">7480.00</td>
                                            <td class="align-right">7400.00</td>
                                            <td class="align-right">11.90</td>
                                        </tr>
                                        <tr class="hover-effect">
                                            <td>28/11/24</td>
                                            <td class="align-right">7437.20</td>
                                            <td class="align-right">7450.00</td>
                                            <td class="align-right">7480.00</td>
                                            <td class="align-right">7400.00</td>
                                            <td class="align-right">11.90</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-right">

                        <div class="image-box elevation-5" data-controller="chart">
                            <div class="tabs-container d-flex mb-2">
                                <button class="tab-btn"
                                        data-action="click->chart#switch"
                                        data-url="{{ chart_url('/charts/fchi_hourly.png') }}">Horaire
                                </button>
                                <button class="tab-btn active"
                                        data-action="click->chart#switch"
                                        data-url="{{ chart_url('/charts/fchi_daily.png') }}">Quotidien
                                </button>
                                <button class="tab-btn"
                                        data-action="click->chart#switch"
                                        data-url="{{ chart_url('/charts/fchi_weekly.png') }}">Hebdo
                                </button>
                            </div>

                            <div class="chart-display">
                                <img data-chart-target="display"
                                     src="{{ chart_url('/charts/fchi_daily.png') }}"
                                     alt="Graphique CAC40"
                                     class="full-width-image"/>
                            </div>
                        </div>

                        <div class="row-positions-spacer d-flex">
                            <div class="col-positions-wrap">
                                <div class="col-positions">
                                    <twig:PositionTable
                                        type="running"
                                        :positions="runningPositions"
                                    />
                                    <twig:PositionTable
                                        type="waiting"
                                        :positions="waitingPositions"
                                    />
                                </div>
                            </div>
                            <div class="col-spacer"></div>
                        </div>

                    </div>
                </div>

            </div>
        </main>
    </div>
{% endblock %}
